<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Image</title>
  <script src="https://kit.fontawesome.com/2d77ec72a5.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
</head>
<body>
  <h1>Upload Username</h1>
  <form action="/scraping/user" method="POST" >
    <textarea name="username" id="username" placeholder="Enter username"></textarea>
    <input type="text" name="password">
    <!-- <input id="image-file" type="file" name="image" accept="image/*" required> -->
    <button id="btn-submit" type="submit">Upload</button>
  </form>



  <!-- <script>

    $('#btn-submit').click( async(e) => {
      e.preventDefault()

      const formData = new FormData();
      formData.append('file', $('#image-file')[0].files[0]);
      
      const response = await axios.post('/upload', formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      })
    });

  </script> -->
</body>
</html>